*{
  margin: 0;
  padding: 0;
}

body{
  background: #FFFBFB;
}

header{
  background: #04AE2A;
border-radius: 12px;
height: 50px;
display: flex;
align-items: center;
justify-content: space-around;
}

header a{
  color: #fff;
  text-decoration: none;
}

section{
  max-width: 1200px;
  margin: 0 auto;
}

.uspev {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.uspev a{
  padding: 10px 15px;
  border-radius: 50px;
  background: #04AE2A;
  color: #fff;
  text-decoration: none;
}

.no-show{
  display: none;
}

form{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}